.container
  navbar.navbar
    a.navbar-item.navbar-brand(href='/index.html') Home
    .navbar-menu
      a.navbar-item(href='/projects.html') Projects
      a.navbar-item(href='/products.html') Products
