extends layout.pug

block meta
  title Projects

block content
  include header.pug

  .container
    h1.is-size-2 Products

    table.table
      thead
        tr
          th #id
          th title
          th description
          th price
      tbody
        tr
          td 1
          td orange
          td tasty and fresh
          td 500$
